.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.icon {
  margin-bottom: 2vh !important;
}

.header {
  margin-bottom: 20px;
}

.h1 {
  color: #333;
  margin-bottom: 20px;
}

.h2 {
  color: #555;
  margin-top: 2vh !important;
  margin-bottom: 2vh;
}

.container .p {
  color: #777;
  margin-bottom: 20px;
  text-align: left !important;
  padding-top: 1vh;
  margin-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  border: 1px solid #000;
  border-radius: 0.375rem;
}

.container .ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2vh;
  padding-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  border: 1px solid #000;
  border-radius: 0.375rem;
}

.container .li {
  margin-bottom: 10px;
  text-align: left !important;
}

.strong {
  font-weight: bold;
}
