.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  z-index: 1;
  margin-top: 25px;
}

.icon {
  margin-bottom: 2vh !important;
}

.header {
  margin-bottom: 20px;
}

.h1 {
  color: #333;
  margin-bottom: 20px;
}

.h2 {
  color: #555;
  margin-top: 2vh !important;
  margin-bottom: 2vh;
}

.container .p {
  background-color: #fafafa;
  color: #777;
  margin-bottom: 20px;
  text-align: left !important;
  padding-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  border: 1px solid #000;
  border-radius: 0.375rem;
}

.container .ul {
  background-color: #fafafa;
  list-style: none;
  padding: 0;
  margin-bottom: 2vh;
  padding-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  border: 1px solid #000;
  border-radius: 0.375rem;
}

.container .li {
  margin-bottom: 10px;
  text-align: left !important;
}

.strong {
  font-weight: bold;
}
