.formContainer {
  background-color: #d1eefd;
  position: relative !important;
  top: 15vh;
  height: 40vh;
  min-height: 380px;
  width: 20vw !important;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin: 0 auto;
  padding-top: 8vh;
  max-width: 300px;
  border-radius: 0.5rem;
}

.h1 {
  position: absolute;
  top: 1.2vh;
}

.inputField {
  margin: 0 auto !important;
}

.form {
  position: absolute;
  height: 40vh;
}

.errorsContainer {
  width: 20vw !important;
  padding-top: 0vh !important;
  margin-top: -10px !important;
  margin-left: 1vw;
}

.submitBtn button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(68, 170, 249) !important;
  color: white !important;
}

.signupBtn {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: rgb(34, 31, 120);
  padding: 1vh;
  margin-bottom: 2vh;
}
