.formContainer {
  /* background-color: #f3f5f6; */
  background-color: #d1eefd;
  position: relative !important;
  height: 40vh;
  top: 15vh;
  width: 20vw !important;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin: 0 auto;
  padding-top: 8vh;
  max-width: 300px;
  border-radius: 0.5rem;
}

.h1 {
  position: absolute;
  top: 1.2vh;
}

.inputField {
  /* width: auto !important; */

  margin: 0 auto !important;
}

.form {
  position: absolute;
  /* top: 50%;
  left: 50% !important;
  transform: translate(-35%, -50%); */
  height: 40vh;
}

.errorsContainer {
  width: 20vw !important;
  padding-top: 0vh !important;
  margin-top: 0 !important;
  margin-left: 1vw;
}

.submitBtn button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(94, 181, 248) !important;
  color: white !important;
}
