.background {
  width: 100vw;
  height: 100vh;
  background-image: url("/app-pattern-bg.svg");
  background-size: cover;
  overflow: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.formContainer {
  background-color: #f3f5f6;
  position: relative !important;
  top: 15vh;
  width: 20vw !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2vh;
  padding-bottom: 2vh;
  border-radius: 0.5rem;
}

.formContainer label::after {
  content: none !important;
}

.submitContainer {
  display: flex;
  justify-content: center;
}
