.bulletPointsContainer {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bulletPointsContainer p {
  margin-bottom: 5px !important;
  padding: 0 !important;
  width: 100%; /* Ensure all <p> tags take up full width of the container */
  text-align: center; /* Center align the text within each <p> */
}

.button {
  margin-top: 1% !important;
  margin-bottom: 1% !important;
}