.bulletPointsContainer {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bulletPointsContainer p {
  margin-bottom: 5px !important;
  padding: 0 !important;
  width: 100%;
  text-align: left !important;
  margin-left: 80%;
}

.button {
  margin-top: 1% !important;
  margin-bottom: 1% !important;
}
