.formContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.formContainer form {
  width: 80vw;
}

.formContainer h1 {
  margin-top: -10vw;
}
