/* Home.module.css */
.imageContainer {
  position: relative;
  text-align: center;
  color: white;
}

.blurImage {
  filter: blur(8px);
  width: 100%;
}

.textOverImage {
  position: absolute;
  top: 5%;
  left: 8%;
  transform: translate(-50%, -50%);
  font-size: 36px; /* Adjust size as needed */
  color: rgb(192, 198, 230); /* Text color */
  width: 100%;
  text-align: center;
}

.image {
  /* filter: blur(8px); */
  width: 100%;
  margin-bottom: 2%;
}
