.menu {
  display: flex;
  flex-direction: column;
}

.profile {
  font-size: 1.35rem !important;
  background-color: rgb(30, 126, 210) !important;
  color: white !important;
  margin-bottom: 1vh !important;
}

.logout {
  font-size: 1.35rem !important;
  background-color: rgb(210, 217, 224) !important;
  margin-bottom: 1vh !important;
}

.icon {
  width: 2.2vh;
  height: 2.2vh;
  margin-right: 10px;
}
