.iconContainer {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  margin: 0 auto;
  margin-top: 0.5vh;
}

.container {
  display: flex;
  flex-direction: row !important;
  width: 90vw;
  margin: 0 auto;
  margin-top: 2vh;
  background-color: #ececed;
  border-radius: 0.5rem;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1vh;
  margin-left: 1vh;
  width: 300px !important;
}

.uploadImageBtn {
  margin-top: 1vh !important;
}

.dataContainer {
  display: flex;
  flex-direction: row !important;
  margin-left: 2vw;
  width: 100% !important;
}

.formContentContainer {
  display: flex;
  flex-direction: row;
  justify-self: end !important;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.commentsField {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  flex: 1;
  justify-self: end;
  max-width: 425px;
  margin-left: 50px !important;
}

.saveBtn {
  margin-top: 5vh !important;
  justify-content: center;
  margin-left: 25vw !important;
  margin-right: 0 auto !important;
}

.delete {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.deleteBtn {
  width: 10vw;
}
