.formContainer {
  position: relative !important;
  top: 5vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #ececed;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 0.5rem;
}

.formContainer input {
  height: 5vh !important;
}

.submitButton {
  margin: 0 auto !important;
}

.submitButton button {
  color: white !important;
  /* background-color: rgb(77, 90, 234) !important; */
  background-color: #2185d0 !important;
}
