/* NavigationBar.module.css */
.navbar {
  background-color: #092935 !important; /* Use !important to override Semantic UI's styles */
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 0 !important;
}
