.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
}

.card {
  height: 55vh;
  width: calc(20% - 20px) !important;
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  width: 270px !important;
  height: 220px !important;
}
